# This file is an example config file.
# See https://github.com/Klipper3d/klipper/blob/master/docs/Config_Reference.md for a description of parameters.

[mcu]
serial: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A504NM6J-if00-port0

## Use the host as mcu to control its gpio pins
## Uncomment the lines below if you use the hostmcu profile, see main Readme for more info
# [mcu host]
# serial: /opt/printer_data/run/klipper_host_mcu.tty

[printer]
kinematics: cartesian
max_velocity: 350
max_accel: 3000
max_z_velocity: 4
max_z_accel: 40

[stepper_x]
step_pin: PA3
dir_pin: !PA1
enable_pin: !PA5
microsteps: 16
rotation_distance: 39.506
endstop_pin: ^PA0
position_endstop: 0
position_min: 0
position_max: 180
homing_speed: 30

[stepper_y]
step_pin: PC6
dir_pin: !PC4
enable_pin: !PA7
microsteps: 16
rotation_distance: 39.506
endstop_pin: ^PA4
position_endstop: 0
position_min: 0
position_max: 190
homing_speed: 30

[stepper_z]
step_pin: PC0
dir_pin: PG2
enable_pin: !PC2
microsteps: 16
rotation_distance: 1.25
endstop_pin: probe:z_virtual_endstop
position_min: -2
position_max: 170
homing_speed: 5
second_homing_speed: 3

[bltouch]
sensor_pin: ^PC7
# If your BLTouch signal is wired to the Z_MAX input instead, use:
# sensor_pin: ^ar32
control_pin: PB5
x_offset: 67
y_offset: -14
z_offset: 0.95
speed: 5
samples: 2

[safe_z_home]
home_xy_position: 90, 95
speed: 50
z_hop: 10
z_hop_speed: 5

[bed_mesh]
speed: 80
horizontal_move_z: 5
mesh_min: 10, 10
mesh_max: 170, 180
probe_count: 5, 5

[extruder]
step_pin: PL6
dir_pin: PL4
enable_pin: !PG0
microsteps: 16
rotation_distance: 29.358
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: PE4
sensor_type: ATC Semitec 104GT-2
sensor_pin: PK0
min_temp: 0
max_temp: 250
#control: pid
#pid_kp: 29.800
#pid_ki: 1.774
#pid_kd: 125.159

[extruder1]
step_pin: PL0
dir_pin: !PL2
enable_pin: !PL1
microsteps: 16
rotation_distance: 29.358
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: PE5
sensor_type: ATC Semitec 104GT-2
sensor_pin: PK1
min_temp: 0
max_temp: 250
control: pid
pid_kp: 29.800
pid_ki: 1.774
pid_kd: 125.159

[heater_bed]
heater_pin: PG5
sensor_type: ATC Semitec 104GT-2
sensor_pin: PK2
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 63.041
#pid_ki: 2.898
#pid_kd: 342.787

[fan]
pin: PH4

[display]
lcd_type: hd44780
rs_pin: PD1
e_pin: PH0
d4_pin: PH1
d5_pin: PD0
d6_pin: PE3
d7_pin: PH3
encoder_pins: ^PL7, ^PG1
click_pin: ^!PD2

# Toolchange macros matching Marlin hotend offsets:
# HOTEND_OFFSET_X {0.0, 32.0}, HOTEND_OFFSET_Z {0.0, 0.05}
[gcode_macro T0]
description: Activate left hotend (E0)
gcode:
	ACTIVATE_EXTRUDER EXTRUDER=extruder
	SET_GCODE_OFFSET X=0.00 Z=0.00 MOVE=0

[gcode_macro T1]
description: Activate right hotend (E1)
gcode:
	ACTIVATE_EXTRUDER EXTRUDER=extruder1
	SET_GCODE_OFFSET X=32.00 Z=0.05 MOVE=0

[virtual_sdcard]
path: /opt/printer_data/gcodes

[display_status]

[pause_resume]

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

[force_move]
enable_force_move: True

[gcode_macro UNLOCK_MOTORS]
gcode:
  SET_KINEMATIC_POSITION X=60 Y=60 Z=60

[gcode_macro START_PRINT]
gcode:
    BED_MESH_PROFILE LOAD=default
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    # Start extruder preheat
    M104 S150
    # Start bed heating
    M140 S{BED_TEMP}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    # Wait for extruder preheat
    M109 S150
    # Reset Extruder
    G92 E0
    # Home the printer
    G28
    # Move to the wipe position
    G1 Z5.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X0.1 Y20 Z0.8 F5000 ; Move to start position
     # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    # Wipe lines to prime extruder
    G1 X0.1 Y140.0 Z1.2 F1500 E30 ; Draw the first line
    G92 E0 ; Reset Extruder
    G1 X0.4 Y140.0 Z1.2 F3000 ; Move to side a little
    G1 X0.4 Y20 Z1.2 F1500 E25 ; Draw the second line
    G92 E0 ; Reset Extruder
    G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X5 Y20 Z0.4 F3000.0 ; Move over to prevent blob squish

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 10mm
    G1 Z10 F3000
    G90
    # Move away
    G1 X5 Y140
    # Disable steppers
    M84

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 61.704
#*# pid_ki = 0.556
#*# pid_kd = 1712.294
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 17.442
#*# pid_ki = 0.471
#*# pid_kd = 161.561
